@import "./../../../../src/styles/base";
.wa-details {
    @include mobile {
        padding: 0px 10px;
    }
    margin-top: 40px;
    @include desktop {
        padding: 25px;
    }
    .card {
        border-radius: 4px;
        border: 1px solid $white;
        margin-bottom: 15px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 100%;
        height: 100px;
        cursor: pointer;
        @include randomColor($dashboard-color-list, 6);
        @include pragraph-text($white, 20px, true);
        @include mobile {
            padding: 0px;
        }
        .details-data {
            height: 100%;
            @include all-center;
        }
        .data-item {
            @include desktop {
                flex: 1 1 0;
                width: 0;
            }
        }
        .temp-key {
            margin-right: 10px;
            @include pragraph-text($black, 20px, true);
            @include mobile {
                @include pragraph-text($black, 15px, true);
            }
        }
        .data-item {
            @include mobile {
                @include pragraph-text($white, 15px, true);
                @include column;
            }
        }
    }

    .card-container .card:hover {
        transform: translateY(-4px);
        box-shadow: $box-shadow;
    }
    .no-data {
       @include all-center;
        height: 70vh;
        @include pragraph-text($black, 30px, true)
    }
}
