@import "./../../../../src/styles/base";
.wa-home {
    .card-container {
        margin-top: 40px;
        @include row;
        justify-content: center;
        @include mobile {
            @include col-all-center;
        }
    }
    .card {
        border-radius: 4px;
        border: 1px solid $white;
        margin: 0 8px 16px;
        padding: 16px;
        transition: all 0.2s ease-in-out;
        line-height: 24px;
        width: 300px;
        height: 300px;
        cursor: pointer;
        @include randomColor($dashboard-color-list, 6);
        @include pragraph-text($white, 20px, true);
        .city-name {
            @include pragraph-text($white, 20px, true);
            @include row-center;
            padding: 20px;
        }
        .temp-section {
            margin-top: 10px;
            @include pragraph-text($white, 15px, false);
            @include row-center;
        }
        .temp-key {
            margin-right: 10px;
            @include pragraph-text($black, 15px, true);
        }
    }

    .card-container .card:hover {
        transform: translateY(-4px);
        box-shadow: $box-shadow;
    }
}
